// Variables

// functions

// mixins

box-shadow()
	-webkit-box-shadow arguments
	-moz-box-shadow arguments
	box-shadow arguments

box-align()
	-webkit-box-align arguments
	-moz-box-align arguments
	box-align arguments

box-orient()
	-webkit-box-orient arguments
	-moz-box-orient arguments
	box-orient arguments

box-flex()
	-webkit-box-flex arguments
	-moz-box-flex arguments
	box-flex arguments

transform()
	-webkit-transform arguments

transform-style()
	-webkit-transform-style arguments

transition
	-webkit-transition arguments

transition-property
	-webkit-transition-property arguments

transition-duration
	-webkit-transition-duration arguments

transition-timing-function
	-webkit-transition-timing-function arguments

perspective()
	-webkit-perspective arguments



// styles

html, body
	margin 0
	padding 0
	height 100%

body
	font-size 13px
	font-family "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
	color #555
	background -webkit-gradient(linear, left top, left bottom, from(#D5DEE5), to(#818F99))

a
	text-decoration none

.btn
	display block
	margin 0
	padding 0 10px
	font-family verdana, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
	font-size 10px
	font-weight bold
	line-height 28px
	text-decoration none
	text-transform uppercase
	text-shadow 0 1px 1px rgba(0,0,0,0.25)
	color #fff
	background #D74635
	background -webkit-gradient(linear, 0% 0%, 0% 100%, from(#09a8ef), to(#0494dd))
	border-radius 3px
	border 1px solid #079fe6
	cursor pointer
	outline none

	&:hover
		background -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0ab4f5), to(#049ee7))

	&.subtle
		font-weight normal
		text-shadow 0 1px 1px rgba(255,255,255,0.25)
		color #888
		background #eee
		border 1px solid #eee

		&:hover
			background #e8e8e8
			border 1px solid #e8e8e8

div#content
	margin 40px auto
	padding 15px
	width 500px
	background #fff
	box-shadow 0 1px 3px rgba(0,0,0,0.25)

	h1
		margin 0
		font-size 16px

	h2
		margin 0 0 5px
		font-size 12px
		font-weight normal
		color #999

	p
		margin 15px 0 0
		font-size 13px

	input
		&[type="text"],
		&[type="email"],
		&[type="password"]
			margin 0
			padding 5px
			width 200px
			height 18px
			line-height 18px
			font-size 13px
			font-family "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
			color #555
			border 1px solid #e6e6e6
			border-top 1px solid #cdcdcd
			outline none

	form
		margin 25px 0 0

		&.single-line
			display -webkit-box
			display box

			input
				margin 0 4px 0 0
				border-radius 0