// functions

box-shadow()
    -webkit-box-shadow arguments
    -moz-box-shadow arguments
    box-shadow arguments

box-align()
    -webkit-box-align arguments
    -moz-box-align arguments
    box-align arguments

box-orient()
    -webkit-box-orient arguments
    -moz-box-orient arguments
    box-orient arguments

box-flex()
    -webkit-box-flex arguments
    -moz-box-flex arguments
    box-flex arguments

transform()
    -webkit-transform arguments

transform-style()
    -webkit-transform-style arguments

transition
    -webkit-transition arguments

transition-property
    -webkit-transition-property arguments

transition-duration
    -webkit-transition-duration arguments

transition-timing-function
    -webkit-transition-timing-function arguments

perspective()
    -webkit-perspective arguments



// styles

html, body
	margin 0
	padding 0
	height 100%

body
	position relative
	font-size 14px
	font-family "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
	color #555
	overflow hidden

a.btn
	display inline-block
	margin 0
	padding 0 10px
	font-family verdana, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
	font-size 10px
	font-weight bold
	line-height 28px
	text-decoration none
	text-transform uppercase
	text-shadow 0 1px 1px rgba(0,0,0,0.25)
	color #fff
	background #D74635
	background -webkit-gradient(linear, 0% 0%, 0% 100%, from(#09a8ef), to(#0494dd))
	border-radius 3px
	border 1px solid #079fe6

	&:hover
		background -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0ab4f5), to(#049ee7))

div.pad
	display -moz-box
	display -webkit-box
	position absolute
	width 100%
	height 100%
	overflow hidden

	div.main_error
		display none
		position absolute
		padding 10px
		left 10px
		right 10px
		bottom 10px
		font-size 13px
		text-align center
		text-shadow 0 1px 1px rgba(0,0,0,0.25)
		color #fff
		background #a00009
		border-radius 3px
		box-shadow 0 1px 3px rgba(0,0,0,0.25)

	div.list
		position relative
		width 280px        
		height 100%
		border-right 1px solid #eee

		ul#notes
			margin 0
			padding 0
			list-style none
			background #f9f9f9

			li
				position relative
				padding 10px 15px
				border-bottom 1px solid #eee
				cursor pointer

				span
					display block

					&.highlight
						position absolute
						top 0
						right -1px
						bottom 0
						width 1px

					&.title
						margin-right 40px
						font-size 12px
						font-weight bold
						text-overflow ellipsis
						white-space nowrap
						overflow hidden

					&.time
						font-size 11px
						color #aaa

					&.delete
						position absolute
						top 0
						right 0
						bottom 0
						padding 0 10px
						line-height 50px
						display none

						a
							font-size 10px
							text-decoration none
							color #aaa

							&:hover
								text-decoration underline

				&:hover
					background #fcfcfc

					span
						&.delete
							display block

				&.selected

					span
						&.highlight
							background #0494DD
						&.title
							color #0494DD
						&.time
							color #7EB6D4

		div.controls
			position absolute
			padding 8px 10px
			left 0
			right 0
			bottom 0
			//height 50px
			font-family "Courier New"
			font-size 12px
			color #fff
			background rgba(0,0,0,0.75)

			p
				margin 0 0 5px
				padding 0

				&:last-child
					margin-bottom 0

				a
					text-decoration none
					color #fff

					&:hover
						text-decoration underline


	div.editor
		position relative
		height 100%
		-moz-box-flex 1
		-webkit-box-flex 1

		div.text
			position absolute
			padding 12px
			top 47px
			left 0
			right 0
			bottom 0
			outline none
			overflow-y scroll

	div.list > div.opts,
	div.editor > div.opts
		display -moz-box
		display -webkit-box
		padding 8px
		height 30px
		background #f6f6f6
		border-bottom 1px solid #eee

		input
			font-family "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif

			&[type="text"]
				padding 5px

	div.list > div.opts input[type="text"]
		display block
		margin 0 0 0 8px
		height 18px
		line-height 18px
		border 1px solid rgb(230,230,230)
		border-top 1px solid rgb(205,205,205)
		-moz-box-flex 1
		-webkit-box-flex 1
		outline none
    
	div.editor > div.opts
		position relative

		input[type="text"]
			display block
			margin 0
			padding-right 20px
			height 18px
			line-height 18px
			border 1px solid transparent
			background none
			-moz-box-flex 1
			-webkit-box-flex 1
			outline none

			&:hover
				border 1px solid rgba(230,230,230, 0.5)
				border-top 1px solid rgba(205,205,205, 0.5)
				background rgba(255,255,255,0.5)

			&:hover,
			&:focus
				border 1px solid rgb(230,230,230)
				border-top 1px solid rgb(205,205,205)
				background #fff

		div.save_status
			position absolute
			top 20px
			right 15px
			width 6px
			height 6px
			background #ccc
			border-radius 3px

			&.saved
				background #5edc20

::-webkit-scrollbar
	width 6px

::-webkit-scrollbar-track
	background #eee

::-webkit-scrollbar-thumb
	background #09A8EF


@media (max-width: 800px)

	a.btn
		padding 0 12px
		font-size 14px
		line-height 36px

	div.pad
		div.list
			width 100%

			ul#notes
				li
					span
						&.title
							font-size 16px
						&.time
							font-size 14px

		div.list > div.opts,
		div.editor > div.opts
			padding 8px
			height 38px

			input[type="text"]
				font-size 19px
				padding 5px 7px

		div.list > div.opts input[type="text"]
			margin 0 0 0 8px
			height 26px
			line-height 26px

		div.editor > div.opts input[type="text"]
			margin 0
			height 26px
			line-height 26px






