// functions

box-shadow()
    -webkit-box-shadow arguments
    -moz-box-shadow arguments
    box-shadow arguments

box-align()
    -webkit-box-align arguments
    -moz-box-align arguments
    box-align arguments

box-orient()
    -webkit-box-orient arguments
    -moz-box-orient arguments
    box-orient arguments

box-flex()
    -webkit-box-flex arguments
    -moz-box-flex arguments
    box-flex arguments

transform()
    -webkit-transform arguments

transform-style()
    -webkit-transform-style arguments

transition
    -webkit-transition arguments

transition-property
    -webkit-transition-property arguments

transition-duration
    -webkit-transition-duration arguments

transition-timing-function
    -webkit-transition-timing-function arguments

perspective()
    -webkit-perspective arguments



// styles

html, body
	margin 0
	padding 0
	width 100%
	height 100%

body
	position relative
	font-size 14px
	font-family helvetica, arial, sans-serif
	color #555
	background #A4A6AA
	overflow hidden

div.test
    // temporary
    display none
    position absolute
    margin -150px 0 0 -150px
    top 50%
    left 50%
    width 300px
    height 300px
    perspective 1000

div.test > div
    position absolute
    width 100%
    height 100%
    background #555
    border-radius 5px
    transform-style preserve-3d
    transition -webkit-transform 1s

ul.dropdown
    position absolute
    padding 0
    list-style none
    background #333
    box-shadow 0 1px 3px rgba(0,0,0,0.25)

ul.dropdown li
    border-bottom 1px solid #555

ul.dropdown li:nth-last-child(2)
    border none

ul.dropdown li:last-child
    position absolute
    left 75px
    bottom -10px
    width 0
    height 0
    border-top 10px solid #333
    border-left 10px solid transparent
    border-right 10px solid transparent
    border-bottom none

ul.dropdown li a
    display block
    padding 0 10px
    font-size 11px
    text-decoration none
    line-height 30px
    color #fff

ul.dropdown li a:hover
    background #444

a.account
    position absolute
    display block
    padding 0 0 0 20px
    top 0
    right 40px
    font-size 12px
    line-height 40px
    text-decoration none
    text-shadow 0 1px 3px rgba(0,0,0,0.25)
    color #ddd

a.account:hover
    color #fff

ul.note-list
    position absolute
    margin 10px 0
    padding 0
    top 40px
    left 30px
    width 90px
    list-style none

ul.note-list li a
    display block
    padding 0 8px
    text-shadow 0 1px 3px rgba(0,0,0,0.375)
    text-decoration none
    line-height 24px
    color #fff
    white-space nowrap
    text-overflow ellipsis
    overflow hidden

    &:hover, &:active
        background rgba(255,255,255,0.1)

ul.note-list li.selected a
    font-weight bold

textarea.pad
    position absolute
    margin 0
    padding 10px
    top 40px
    left 140px
    right 40px
    bottom 40px
    font-size 14px
    font-family helvetica, arial, sans-serif
    color #555
    border none
    box-shadow 0 5px 20px rgba(0,0,0,0.25)
    resize none
    transition-property top, left, right, bottom
    transition-duration 0.15s
    transition-timing-function ease-out

    &:focus
        outline none

body.fullscreen textarea.pad
    top 0
    left 0
    right 0
    bottom 0

div.footer
    position absolute
    left 40px
    right 40px
    bottom 0
    height 40px
    text-align center

    div.save-targets
        position relative
        display inline-block
        &:hover
            background rgba(255,255,255,0.1)
            cursor pointer
        p
            margin -5px 0 0
            padding 5px 0 0
            width 110px
            font-size 12px
            line-height 40px
            text-align center
            text-shadow 0 1px 3px rgba(0,0,0,0.25)
            color #ddd
        ul
            position absolute
            display none
            top -80px
            left -30px
            width 170px
        &:hover ul
            display block
    
    div.more
        position absolute
        top 0
        right 0
        &:hover
            background rgba(255,255,255,0.1)
            cursor pointer
        p
            margin-top -5px
            padding-top 5px
            height 40px
            width 50px
            font-size 20px
            text-align center
            line-height 40px
            color #ddd
        ul
            position absolute
            display none
            top -80px
            right 5px
            width 120px
        &:hover ul
            display block
        ul li:last-child
            left auto
            right 10px

div.options
    position absolute
    top 100%
    left 0
    right 0
    height 150px
    text-shadow 0 1px 3px rgba(0,0,0,0.375)
    text-decoration none
    color #fff
    background #70747b
    box-shadow 0 5px 10px rgba(0,0,0,0.5) inset
    transition -webkit-transform 0.25s ease-out

    &.show
        transform translate(0,-150px)















