!!! 5
html(lang="en")
    head
        title notes.fm
        meta(name="description", content="Online notes for mobile and desktop")
        meta(name="keywords", content="notes, notepad, note pad, note taking, online notes, desktop notes, mobile notes, web notes, sync")
        link(rel="stylesheet", type="text/css", href="/stylesheets/main.css")

    body
        !{body}

    footer
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
        script(src="/javascript/main.js")
        include ../components/analytics.html