!!! 5
html(lang="en")
    head
        title Testing
        link(rel="stylesheet", type="text/css", href="/stylesheets/main.css")
        script(src="/javascript/main.js")
    body
        !{body}
        include ../components/analytics.html