!!! 5
html(lang="en")
    head
        title Testing
        meta(name="viewport", content="width=320, initial-scale=1, maximum-scale=1, user_scalable=0")
        link(rel="stylesheet", type="text/css", href="/stylesheets/mobile.css")
        script(src="/javascript/main.js")
    body
        ul#menu
            li: a(href="#") One
            li: a(href="#") Two
            li: a(href="#") Three
        div#content(contenteditable="true")
            !{body}