transition{-webkit-transition:arguments}
transition-property{-webkit-transition-property:arguments}
transition-duration{-webkit-transition-duration:arguments}
transition-timing-function{-webkit-transition-timing-function:arguments}
html,body{margin:0;padding:0;height:100%}
body{font-size:13px;font-family:"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;color:#555;background:-webkit-gradient(linear,left top,left bottom,from(#d5dee5),to(#818f99))}
div#content{margin:40px auto;padding:15px;width:500px;background:#fff;-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.25);-moz-box-shadow:0 1px 3px rgba(0,0,0,0.25);box-shadow:0 1px 3px rgba(0,0,0,0.25);}
div#content h1{margin:0;font-size:16px}
div#content h2{margin:0 0 5px;font-size:12px;font-weight:normal;color:#999}
div#content p{margin:10px 0 0;font-size:13px}
