transition{-webkit-transition:arguments}
transition-property{-webkit-transition-property:arguments}
transition-duration{-webkit-transition-duration:arguments}
transition-timing-function{-webkit-transition-timing-function:arguments}
html,body{margin:0;padding:0;height:100%}
body{position:relative;font-size:14px;font-family:"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;color:#555;background:-webkit-gradient(linear,left top,left bottom,from(#d5dee5),to(#a1b6c6));overflow:hidden}
a.btn{display:inline-block;margin:0;padding:0 10px;font-family:verdana,"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;font-size:10px;font-weight:bold;line-height:28px;text-decoration:none;text-transform:uppercase;text-shadow:0 1px 1px rgba(0,0,0,0.25);color:#fff;background:#d74635;background:-webkit-gradient(linear,0% 0%,0% 100%,from(#09a8ef),to(#0494dd));border-radius:3px;border:1px solid #079fe6;}
a.btn:hover{background:-webkit-gradient(linear,0% 0%,0% 100%,from(#0ab4f5),to(#049ee7))}
div.pad{position:absolute;top:15px;left:15px;right:15px;bottom:15px;overflow:hidden;-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.25);-moz-box-shadow:0 1px 3px rgba(0,0,0,0.25);box-shadow:0 1px 3px rgba(0,0,0,0.25);}
div.pad div.main_error{display:none;position:absolute;padding:10px;left:10px;right:10px;bottom:10px;font-size:13px;text-align:center;text-shadow:0 1px 1px rgba(0,0,0,0.25);color:#fff;background:#a00009;border-radius:3px;-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.25);-moz-box-shadow:0 1px 3px rgba(0,0,0,0.25);box-shadow:0 1px 3px rgba(0,0,0,0.25)}
div.pad div.list{position:absolute;top:0;left:0;bottom:0;width:280px;border-right:1px solid #eee;}
div.pad div.list ul#notes{position:absolute;margin:0;padding:0;top:47px;left:0;right:0;bottom:0;list-style:none;background:#fff;overflow-y:auto;overflow-x:hidden;}
div.pad div.list ul#notes li{position:relative;padding:10px 15px;background:#f9f9f9;border-bottom:1px solid #eee;cursor:pointer;}
div.pad div.list ul#notes li span{display:block;}
div.pad div.list ul#notes li span.highlight{position:absolute;top:0;left:0;bottom:0;width:2px}
div.pad div.list ul#notes li span.title{margin-right:40px;font-size:12px;font-weight:bold;text-overflow:ellipsis;white-space:nowrap;overflow:hidden}
div.pad div.list ul#notes li span.time{font-size:11px;color:#aaa}
div.pad div.list ul#notes li span.delete{position:absolute;top:0;right:0;bottom:0;padding:0 10px;line-height:50px;display:none;}
div.pad div.list ul#notes li span.delete a{font-size:10px;text-decoration:none;color:#aaa;}
div.pad div.list ul#notes li span.delete a:hover{text-decoration:underline}
div.pad div.list ul#notes li:hover{background:#fcfcfc;}
div.pad div.list ul#notes li:hover span.delete{display:block}
div.pad div.list ul#notes li.selected span.highlight{background:#0494dd}
div.pad div.list ul#notes li.selected span.title{color:#0494dd}
div.pad div.list ul#notes li.selected span.time{color:#7eb6d4}
div.pad div.list div.controls{position:absolute;padding:8px 10px;left:0;right:0;bottom:0;font-family:"Courier New";font-size:12px;color:#000;background:rgba(255,255,255,0.75);}
div.pad div.list div.controls p{margin:0 0 5px;padding:0;}
div.pad div.list div.controls p:last-child{margin-bottom:0}
div.pad div.list div.controls p a{text-decoration:none;color:#fff;}
div.pad div.list div.controls p a:hover{text-decoration:underline}
div.pad div.editor{position:absolute;top:0;left:281px;right:0;bottom:0;}
div.pad div.editor div.text,div.pad div.editor textarea{position:absolute;margin:0;padding:12px;top:47px;left:0;right:0;bottom:0;font-family:"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;font-size:13px;color:#555;border:none;outline:none;overflow-y:auto;resize:none}
div.pad div.list > div.opts,div.pad div.editor > div.opts{display:-webkit-box;padding:8px;height:30px;background:#f6f6f6;border-bottom:1px solid #eee;}
div.pad div.list > div.opts input,div.pad div.editor > div.opts input{font-family:"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;}
div.pad div.list > div.opts input[type="text"],div.pad div.editor > div.opts input[type="text"]{padding:5px}
div.pad div.list > div.opts input[type="text"]{display:block;margin:0 0 0 8px;height:18px;line-height:18px;border:1px solid #e6e6e6;border-top:1px solid #cdcdcd;-moz-box-flex:1;-webkit-box-flex:1;outline:none}
div.pad div.editor > div.opts{position:relative;}
div.pad div.editor > div.opts div.back{margin-right:8px;width:20px;height:20px;-webkit-transform:rotate(-45deg) translate(-2px,11px);display:none;}
div.pad div.editor > div.opts div.back:before{display:block;content:'';width:20px;height:6px;background:#888}
div.pad div.editor > div.opts div.back:after{display:block;content:'';width:6px;height:14px;background:#888}
div.pad div.editor > div.opts input[type="text"]{display:block;margin:0;padding-right:20px;height:18px;line-height:18px;border:1px solid transparent;background:none;-moz-box-flex:1;-webkit-box-flex:1;outline:none;}
div.pad div.editor > div.opts input[type="text"]:hover{border:1px solid rgba(230,230,230,0.5);border-top:1px solid rgba(205,205,205,0.5);background:rgba(255,255,255,0.5)}
div.pad div.editor > div.opts input[type="text"]:hover,div.pad div.editor > div.opts input[type="text"]:focus{border:1px solid #e6e6e6;border-top:1px solid #cdcdcd;background:#fff}
div.pad div.editor > div.opts div.save_status{position:absolute;top:20px;right:15px;width:6px;height:6px;background:#ccc;border-radius:50%;}
div.pad div.editor > div.opts div.save_status.saved-true{background:#5edc20}
::-webkit-scrollbar{width:6px}
::-webkit-scrollbar-track{background:#eee}
::-webkit-scrollbar-thumb{background:#ccc}
@media (max-width: 800px){a.btn{padding:0 12px;font-size:14px;line-height:36px}
div.pad div.list{width:auto;right:0;-webkit-transition:-webkit-transform .5s;}
div.pad div.list ul#notes{top:55px;}
div.pad div.list ul#notes li span.title{font-size:16px}
div.pad div.list ul#notes li span.time{font-size:14px}
div.pad div.editor{left:100%;right:auto;width:100%;-webkit-transition:-webkit-transform .5s;}
div.pad div.editor div.text,div.pad div.editor textarea{top:55px}
div.pad div.list > div.opts,div.pad div.editor > div.opts{padding:8px;height:38px;}
div.pad div.list > div.opts input[type="text"],div.pad div.editor > div.opts input[type="text"]{font-size:19px;padding:5px 7px;height:26px;line-height:26px}
div.pad div.list > div.opts input[type="text"]{margin:0 0 0 8px}
div.pad div.editor > div.opts div.back{display:block}
div.pad div.editor > div.opts input[type="text"]{padding-right:28px}
div.pad div.editor > div.opts div.save_status{top:23px;right:20px;width:8px;height:8px}
body.view-note div.pad div.list,body.view-note-true div.pad div.list,body.view-note div.pad div.editor,body.view-note-true div.pad div.editor{-webkit-transform:translateX(-100%)}
}