transition{-webkit-transition:arguments}
transition-property{-webkit-transition-property:arguments}
transition-duration{-webkit-transition-duration:arguments}
transition-timing-function{-webkit-transition-timing-function:arguments}
html,body{margin:0;padding:0;width:100%;height:100%}
body{position:relative;font-size:14px;font-family:"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;color:#555;overflow:hidden}
a.btn{display:inline-block;margin:0;padding:0 10px;font-family:verdana,"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;font-size:12px;font-weight:bold;line-height:28px;text-decoration:none;text-transform:capitalize;text-shadow:0 1px 1px rgba(0,0,0,0.10);color:#fff;background:#d74635;background:-webkit-gradient(linear,0% 0%,0% 100%,from(#dd4b39),to(#d14836));border-radius:3px;border:1px solid #dd4b39;}
a.btn:hover{background:-webkit-gradient(linear,0% 0%,0% 100%,from(#e05d4c),to(#d65a4a))}
div.pad{display:-webkit-box;position:absolute;width:100%;height:100%;overflow:hidden;}
div.pad div.list{width:280px;height:100%;border-right:1px solid #eee;}
div.pad div.list ul#notes{margin:0;padding:0;list-style:none;background:#f9f9f9;}
div.pad div.list ul#notes li{padding:10px;border-bottom:1px solid #eee;cursor:pointer;}
div.pad div.list ul#notes li:hover{background:#fcfcfc}
div.pad div.list ul#notes li span{display:block;}
div.pad div.list ul#notes li span.title{font-size:12px;font-weight:bold}
div.pad div.list ul#notes li span.time{font-size:11px;color:#aaa}
div.pad div.editor{position:relative;height:100%;-webkit-box-flex:1;}
div.pad div.editor div.text{position:absolute;padding:12px;top:47px;left:0;right:0;bottom:0;outline:none}
div.pad div.list > div.opts,div.pad div.editor > div.opts{display:-webkit-box;padding:8px;height:30px;background:#f6f6f6;border-bottom:1px solid #eee;}
div.pad div.list > div.opts input,div.pad div.editor > div.opts input{font-family:"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif}
div.pad div.list > div.opts input[type="text"]{display:block;margin:0 0 0 8px;padding:5px;line-height:18px;border:1px solid #e6e6e6;border-top:1px solid #cdcdcd;-webkit-box-flex:1;outline:none}
div.pad div.editor > div.opts input[type="text"]{display:block;margin:0;padding:5px;line-height:18px;height:18px;border:1px solid transparent;background:none;-webkit-box-flex:1;outline:none;}
div.pad div.editor > div.opts input[type="text"]:hover{border:1px solid rgba(230,230,230,0.50);border-top:1px solid rgba(205,205,205,0.50);background:rgba(255,255,255,0.50)}
div.pad div.editor > div.opts input[type="text"]:focus{border:1px solid #e6e6e6;border-top:1px solid #cdcdcd;background:#fff}
@media (max-width: 800px){div.pad div.list{width:100%;}
div.pad div.list ul#notes li span.title{font-size:18px}
div.pad div.list ul#notes li span.time{font-size:14px}
}