transition{-webkit-transition:arguments}
transition-property{-webkit-transition-property:arguments}
transition-duration{-webkit-transition-duration:arguments}
transition-timing-function{-webkit-transition-timing-function:arguments}
html,body{margin:0;padding:0;height:100%}
body{font-size:13px;font-family:"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;color:#555;background:-webkit-gradient(linear,left top,left bottom,from(#d5dee5),to(#818f99))}
