html,body{margin:0;padding:0;width:100%;height:100%}
body{position:relative;font:13px Helvetica,Arial,sans-serif;background:#fff}
ul.menu{position:fixed;top:0;left:0;right:0;display:-webkit-box;display:-moz-box;display:box;-webkit-box-align:stretch;-moz-box-align:stretch;box-align:stretch;-webkit-box-orient:horizontal;-moz-box-orient:horizontal;box-orient:horizontal;margin:0;padding:0;list-style:none;background:#f6f6f6;background:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#f6f6f6));border-bottom:1px solid #ddd;opacity:.8;z-index:1;}
ul.menu li{margin:0;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;text-align:center;}
ul.menu li a{display:block;font-size:15px;line-height:40px;text-decoration:none;color:#555;-webkit-tap-highlight-color:#eee;-webkit-focus-ring-color:#f00;-webkit-appearance:none;outline:none;}
ul.menu li a:hover,ul.menu li a:active{background:#eee}
body.focused ul.menu{top:-41px}
ul#menu-bottom{position:fixed;top:auto;right:0;left:0;bottom:0;border-bottom:none;border-top:1px solid #ddd}
body.focused ul#menu-bottom{top:auto;bottom:-41px}
div#content{position:absolute;top:41px;left:0;right:0;bottom:41px;font-size:16px;line-height:25px;color:#555;overflow-y:scroll;}
div#content p{margin:0;line-height:22px}
div#content textarea{position:absolute;margin:0;padding:8px;top:0;left:0;right:0;bottom:0;border:0;font-family:helvetica,arial,sans-serif;font-size:18px;line-height:24px;color:#555}
