h1 Notes.fm
h2 A simple site for taking notes

form(class="single-line", method="post", action="http://twitter.us5.list-manage.com/subscribe/post?u=832d98ebc3df086254f175b7b&amp;id=1b8d604b7e", target="_blank", name="mc-embedded-subscribe-form")
	input(type="email", name="EMAIL", placeholder="Email", required)
	input(type="submit", value="Keep me updated", name="subscribe", class="btn subtle")
