!!! 5
html(lang="en", ng-app="NotesApp")
	head
		title Notes.fm
		meta(name="description", content="Online notes for mobile and desktop")
		meta(name="keywords", content="notes, notepad, note pad, note taking, online notes, desktop notes, mobile notes, web notes, sync")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0")
		link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic,700italic|Open+Sans:400italic,700italic,400,700|Handlee|Racing+Sans+One")
		link(rel="stylesheet", type="text/css", href="/stylesheets/pad.css")
		link(rel="shortcut icon", href="/images/favicon.png")

	body(ng-controller="MainCtrl", class="view-note-{{page_view}} expanded-{{expanded}} font-{{settings.fontfamily}} theme-{{settings.theme}} audio-true")
		div.pad
			div.main_error
			div.list
				div.opts
					a#new.btn(ng-click="addNote()") New
					input(type="text", id="search", placeholder="Search")
					a.gear(href="#/settings")
				
				ul#notes(ng-show="notes.length")

					li(ng-repeat="note in notes", class="selected-{{note.getId() == current_note.getId()}}", rel="note_{{note.getId()}}")
						div.highlight
						div.basic(ng-click="loadNote(note.getId())")
							h2 {{note.getTitle() || 'Untitled'}}
							span.time {{note.getTime()}}
							span.delete: a(ng-click="deleteNote(note.getId())") delete

						div.uploads(class="uploading-{{note.uploads.length > 0}}")
							div(ng-repeat="upload in note.uploads")
								h3 {{upload.count}} files
								div.bar
									div.progress(ng-style="{width: upload.progress + '%'}")
				
				div.no_notes(ng-show="!notes.length")
					| No notes

				div.status
					a(ng-show="signed_in", href="#/login") Synced &mdash; {{user.email}}
					a(ng-hide="signed_in", href="#/login") Local &mdash; Sign in

			div.editor(ng-view)

		div.audio-player(ng-controller="AudioPlayerCtrl")
			div.info
				| oldschool_blues.mp3
			//a.control.back
			//a.control.forward
			a.control.play(ng-click="play()")
			a.control.pause(ng-click="pause()")
			div.track
				div.fill
				div.handle
			div.time
				| {{current_time}} / {{duration}}

			audio(src="http://storage.notes.fm/QthFifsS7WID7MxNmZWp_14%20A%20Down%20and%20Dusky%20Blonde.mp3")

	footer
		script(src="/javascript/jquery.min.js")
		script(src="/javascript/angular/angular-1.0.1.min.js")
		script(src="https://cdn.firebase.com/v0/firebase.js")
		script(src="https://cdn.firebase.com/v0/firebase-auth-client.js")
		script(src="https://api.filepicker.io/v1/filepicker.js")
		script(src="https://api.filepicker.io/v1/filepicker_debug.js")
		//script(src="/javascript/angular/angular-resource-1.0.1.min.js")
		//script(src="/javascript/parse-1.0.10.min.js")
		script(src="/javascript/pad.js")
		include ../components/analytics.html