!!! 5
html(lang="en", ng-app="NotesApp")
	head
		title Notes.fm
		meta(name="description", content="Online notes for mobile and desktop")
		meta(name="keywords", content="notes, notepad, note pad, note taking, online notes, desktop notes, mobile notes, web notes, sync")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0")
		link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Open+Sans")
		link(rel="stylesheet", type="text/css", href="/stylesheets/main.css")
		link(rel="shortcut icon", href="/images/favicon.png")

		script(id="note_item_tmpl", type="text/x-jquery-tmpl")
			li(id="note_item_${id}", note="${id}")
				span.highlight
				span.title ${title}
				span.time ${date}
				span.delete: a(href="javascript:false;") delete

	body

		div.pad(ng-controller="PadCtrl")
			div.main_error
			div.list
				div.opts
					a#new.btn(ng-click="addNote()") New
					input(type="text", id="search", placeholder="Search")
				ul#notes
					li(ng-repeat="note in notes")
						div(ng-click="loadNote(note.getId())")
							span.highlight
							span.title {{note.getTitle() || 'Untitled'}}
							span.time {{note.getTime()}}
							span.delete: a(ng-click="deleteNote(note.getId())") delete
				
				div.controls
					p Total notes: {{getTotalNotes()}}

			div.editor(ng-view)

	footer
		script(src="/javascript/jquery.min.js")
		script(src="/javascript/angular/angular-1.0.1.min.js")
		script(src="/javascript/angular/angular-resource-1.0.1.min.js")
		script(src="https://static.firebase.com/v0/firebase.js")
		//script(src="/javascript/jquery.tmpl.min.js")
		//script(src="/javascript/underscore-min.js")
		//script(src="/javascript/backbone-min.js")
		//script(src="/javascript/parse-1.0.10.min.js")
		script(src="/javascript/app.js")
		include ../components/analytics.html