div.page
	h2 Hi there
	p To get started with your notes, click "New" on the left
	p See the <a href="#/settings">settings page</a> (the gear in the top left) for some customization

	h3 Upload test
	
	div.upload_test(droppable="true")
		| Droppable test


	//input(type="filepicker-dragdrop")
	
	//| <button data-fp-mimetype="image/png" data-fp-url="http://www.filepicker.io/static/img/success.png">Save File</button>