div.opts
	div.back(ng-click="menu()")
	input(type="text", placeholder="Untitled", ng-model="note.value.title")
	div#save_status.save_status(title="Saved", ng-click="save()", class="saved-{{saved}}")

div.text
	textarea(ng-model="note.value.body", auto-focus="end", droppable="true")

div.attachments.clearfix
	attachment(ng-repeat="a in note.getAttachments()", ng-init="attachment=a")