div.opts
	//div.back(ng-click="menu()")
	input(type="text", placeholder="Untitled", ng-model="note.value.title")
	div#save_status.save_status(title="Saved", ng-click="save()", class="saved-{{saved}}")

div.text
	textarea(ng-model="note.value.body", auto-focus="end", droppable="true", test-directive="true")

div.attachments.clearfix(ng-show="showAttachments()")

	attachment(ng-repeat="attachment in note.getAttachments()", ng-click="log()")
		div.hover_opts
			a.delete(ng-click="remove()", alt="Delete")
			
			div.opts.audio(ng-click="play()")
				| Audio, {{data.current_time}} / {{data.total_time}}
			
			div.opts.video
				| Video
	
	div.upload(ng-repeat="upload in note.uploads")
		h3 {{upload.count}} files
		div.bar
			div.progress(ng-style="{width: upload.progress + '%'}")