div.page
	h4 Options
	p Nothing here yet
	p ToDo
	ul
		li <del>"No note" scenario - Currently redirects to first note</del>
		li Open first note on load if note exists
		li Open new note if no note exists
		li Open to note or open to new
		li Text size