div.page
	h4 Options
	p Nothing here yet
	p ToDo
	ul
		li <del>"No note" scenario - Currently redirects to first note</del>
		li <del>Focus text on new note</del>
		li Open first note on load if note exists
		li Or - Open new note if no note exists
		li Text size

	p On startup, load...

	ul(class="options")
		li
			label
				span(class="path")
				input(type="radio", name="startup", value="1")
				| Welcome page
			span(class="saved hide") Saved
		li
			label
				span(class="path")
				input(type="radio", name="startup", value="2")
				| First note
			span(class="saved hide") Saved
		li
			label
				span(class="path")
				input(type="radio", name="startup", value="3")
				| New note
			span(class="saved hide") Saved