div.page
	h2 Settings
	//p Nothing here yet

	h3 ToDo
	
	ul
		li <del>"No note" scenario - Currently redirects to first note</del>
		li <del>Focus text on new note</del>
		li <del>All pages, not just notes, should slide on small view</del>
		li Settings should be loop-based, not html-based
		li Implement settings page options

	h3 Meta settings

	ul(class="options")
		li
			label
				span(class="path")
				input(type="radio", ng-model="settings.type", name="type", value="1")
				| Use local settings
		li
			label
				span(class="path")
				input(type="radio", ng-model="settings.type", name="type", value="2")
				| Use synced settings

	h3 On startup, load...

	// Do this with ng-repeat somehow
	ul(class="options")
		li
			label
				span(class="path")
				input(type="radio", ng-model="settings.startup", name="startup", value="1")
				| Welcome page
		li
			label
				span(class="path")
				input(type="radio", ng-model="settings.startup", name="startup", value="2")
				| First note
		li
			label
				span(class="path")
				input(type="radio", ng-model="settings.startup", name="startup", value="3")
				| New note
		li
			label
				span(class="path")
				input(type="radio", ng-model="settings.startup", name="startup", value="4")
				| Last viewed note

	h3 Font

	ul(class="options fontfamily")
		li
			label
				span(class="path")
				input(type="radio", ng-model="settings.fontfamily", name="fontfamily", value="1")
				| Open Sans
		li
			label
				span(class="path")
				input(type="radio", ng-model="settings.fontfamily", name="fontfamily", value="2")
				| Helvetica / Arial
		li
			label
				span(class="path")
				input(type="radio", ng-model="settings.fontfamily", name="fontfamily", value="3")
				| Verdana
		li
			label
				span(class="path")
				input(type="radio", ng-model="settings.fontfamily", name="fontfamily", value="4")
				| Ubuntu Mono
		li
			label
				span(class="path")
				input(type="radio", ng-model="settings.fontfamily", name="fontfamily", value="5")
				| Handlee
		li
			label
				span(class="path")
				input(type="radio", ng-model="settings.fontfamily", name="fontfamily", value="6")
				| Racing Sans One




