!!! 5
html(lang="en")
    head
        title Testing
        meta(name="viewport", content="width=320, initial-scale=1, maximum-scale=1, user_scalable=0")
        link(rel="stylesheet", type="text/css", href="/stylesheets/mobile.css")

        style
            html, body {
                margin: 0;
                padding: 0;
            }
            body {
                background: #ceffe3;
            }

    body(contenteditable="true")
        p This is just a p tag